.todos{
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
    color: rgb(228, 209, 212);
}
.list-card{
    height: fit-content;
    width: 500px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: auto;
}
.list-item{
    border: 1px solid #eee;
    font-size: large;
}
.todo{
    border-bottom: 1px solid #eee;
    padding-left: 40px;
    margin-top: 15px;
}
.input-box{
    margin: 20px;
    font-size: large;
    width: 92%;
    border: none;
    padding: 5px;
}
.counter{
    font-size: x-small;
    padding-left: 20px;
    margin-top: 15px;
}

/* create css to make delete button appear only on hover */
